@import "icons.css";

body{
	margin: 0;
	padding: 0;
	font-family: tahoma;
	font-size: 10px;
}

div.chess{
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: white;
}

div.board-feature {
    overflow: hidden;
    height: 1000px;
}

.chess-svg, .chess {
    position: absolute;
    top: 0;
    left: 0;
}

.chess-svg {
    width: 100%;
    height: 100%;
    z-index: 2;
}

table.chess{
	border: 0;
    margin: 0;
	padding: 0;
	z-index: 1;
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
    height: 100%;
}


table.chess tr td {
    min-width: 12.5%;
    max-width: 12.5%;
    height: 12.5%;
    text-align: center;
    vertical-align: middle;
    /*border: 1px solid #cdcdcd;*/
    position: relative;
}

table.event-grid {
    opacity: 0.01;
    z-index: 3;
}

table.event-grid td {
    cursor: pointer;
}

table.event-grid td:empty {
    cursor: default;
}

.chess-svg > div {
    position: absolute;

}

div#conversionPawn {
    width: 100%;
    height: 80px;
}

div#conversionPawn ul {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}

div#conversionPawn ul li {
    width: 25%;
    height: 80px;
    float: left;
    background-color: red;
    box-sizing: border-box;
    border-left: 1px solid grey;
    cursor: pointer;
}

div#conversionPawn ul li:first-child {
    border: 0;
}

div#conversionPawn ul.b li.k {
    background: url("/img/65/bk.png") no-repeat center;
}

div#conversionPawn ul.b li.b {
    background: url("/img/65/bb.png") no-repeat center;
}

div#conversionPawn ul.b li.r {
    background: url("/img/65/br.png") no-repeat center;
}

div#conversionPawn ul.b li.q {
    background: url("/img/65/bq.png") no-repeat center;
}

div#conversionPawn ul.w li.k {
    background: url("/img/65/wk.png") no-repeat center;
}

div#conversionPawn ul.w li.b {
    background: url("/img/65/wb.png") no-repeat center;
}

div#conversionPawn ul.w li.r {
    background: url("/img/65/wr.png") no-repeat center;
}

div#conversionPawn ul.w li.q {
    background: url("/img/65/wq.png") no-repeat center;
}


div#conversionPawn ul li:hover {
    background-position: center 35% !important;
}

div.clock {
    width: 100%;
    height: 100px;
    max-width: 700px;
    min-width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

div.clock.clock-vertical {
    height : 160px;
    min-width: 300px;
}

div.clock.clock-vertical > div {
    height: 65px;
    max-width: 235px;
    margin: 10px auto !important;
    padding: 0;
    float: none;
    width: 70%;
    font-size: 400%;
    line-height: 125%;
}

div.clock.clock-vertical > div.b > div.color {
    left: -24px;
}

div.clock > div {
    position: relative;
    margin: 25px 0;
    margin-left: 0;
    color: white;
    font-size: 300%;
    /*font-weight: bold;*/
    width: 39%;
    background-color: #111;
    height: 60%;
    float: left;
    color: white;
    line-height: 165%;
    text-align: center;
    font-family: 'Exo 2';
    font-weight: 600;
}

div.clock > div:first-child{
    margin-left: 32px;
    margin-right: 5px;
}

div.clock > div > div.color {
    position: absolute;
    top: 50%;
    margin-top: -7.5px;
    width: 15px;
    height: 15px;
    border: 1px solid #111;
}

div.clock > div.w > div.color {
    left: -24px;
}

div.clock > div.b {
    color: #cdcdcd;
}

div.clock > div.b > div.color {
    right: -24px;
    background-color: #111;
}

#board-body .x-panel-body {
    background-color: transparent;
}

div.clock span.litle-time {
    color: #ff6968;
}

div.clock div.waiting span > i {
    font-style: normal;
    text-decoration: none;
    display: inline-block;
    width: 10%;
    text-align: center;
}

div.clock div.waiting span > b {
    display: inline-block;
    position: relative;
    top: -3px;
    text-align: center;
}

div.clock.clock-vertical div.waiting span > i {
    width: 11.5%;
    margin-right: 0;
}

div.clock.clock-vertical div.waiting span > b{
    padding:  0 2px;
}

table.chess td.red {
    background-color: #ff5454 !important;
}

table.chess td.yellow {
    background-color: #ffe554 !important;
}

table.chess td.green {
    background-color: #45c248 !important;
}

div.coordinates {
    background-color: #440044;
    font-size: .8em;
}